POSTGRES_PASSWORD=change-me
# @title Set your values or use the defaults to connect to Docker { display-mode: "form" }
POSTGRES_USER = "postgres"  # @param {type: "string"}
POSTGRES_HOST = "localhost"  # @param {type: "string"}
POSTGRES_PORT = "5433"  # @param {type: "string"}
POSTGRES_DB = "postgres"  # @param {type: "string"}
TABLE_NAME = "vectorstore"  # @param {type: "string"}
VECTOR_SIZE = 1024  # @param {type: "int"}

SCHEMA_NAME="my_schema"